.navbar-link-stack a,
.navbar-link-stack button {
  text-align: left;
  display: flex;
  width: 100%;
  border-radius: 20px;
  color: #ffff;
}

.navbar-link-stack svg {
  color: #93edf9c1;
}

.nav-accordion .mantine-Accordion-control,
.nav-accordion .mantine-Accordion-label {
  padding: 0;
  width: 100%;
}

.navbar-link-stack .nav-accordion .mantine-Accordion-control:hover {
  background-color: unset;
}

.mantine-Navbar-root {
  padding: 0;
  background-color: #24242426;
}

.nav-accordion {
  width: 95%;
}

.collapse-button {
  width: 30px;
  z-index: 200;
  position: fixed;
  top: 50px;

  /* Navbar width - 5px */
  left: 245px;
}

.expand-button {
  width: 30px;
  z-index: 200;
  position: fixed;
  top: 50px;
}

.danger-blob {
  box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
  animation: pulse-red 2s infinite;
  border-radius: 60px;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}
