.quick-tick-header .mantine-Header-root {
  background-color: #24242460;
}

.header-logo .icon-tabler-chevron-right {
  margin-right: -5px;
}

.header-logo img {
  margin-bottom: 10px;
}

.header-text {
  font-family: "Satisfy";
  font-size: 2rem;
}

.header-text-first-half {
  color: #646cff;
  letter-spacing: -3.2px;
  font-weight: 500;
}

.header-text-second-half {
  color: #007180c1;
  font-weight: 700;
  font-family: "Satisfy";
}

.header-group-2 {
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: 1px;
  margin-right: 10px;
}

.header-group-2 .mantine-Button-root,
.header-group-2 .mantine-Button-icon {
  padding: 0;
  margin: 2.5px;
}

.burger-menu {
  background-color: #141517;
  padding-bottom: 30vh;
  position: absolute;
  width: 100vw;
}

/* stylelint-disable */
/* Unfortunately, due to react-burger-menu using unexposed JS styling, !important is necessary here. */
.burger-button > button#react-burger-menu-btn {
  width: 80px !important;
  height: 80px !important;
}
/* stylelint-enable */

.burger-overlay {
  background-color: #141517;
  top: 1px;
  left: 1px;
}

.logo-blob {
  box-shadow: 0 0 0 0 rgb(8, 72, 124);
  animation: pulse-white 4s infinite;
  border-radius: 30px;
}

@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(5, 77, 119, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
