.stats .tasks-breakdown-pie .VictoryContainer {
    margin: auto;
    min-width: 300px;
    max-width: 400px;
}

.stats .pie-grid {
    margin: auto;
}

.stats .tasks-breakdown-chart .VictoryContainer {
    max-width: 400px;
    margin: auto;
}