.home {
  margin: auto;
}

.home .svg-wave {
  background-color: #282c34;
  margin-bottom: -10px;
}

.home .home-content-area {
  background-color: #1b1c1d;
}

.home .github-buttons {
  font-size: 0.8rem;
}

.home a {
  padding: 2px;
}

.home .mantine-Alert-root .mantine-Alert-title {
  text-align: center;
  margin: auto;
  width: 150px;
}

.home .mantine-Alert-root .mantine-Alert-icon {
  margin: auto;
}
