.home {
  margin: auto;
}

.home .svg-wave {
  background-color: #282c34;
  margin-bottom: -10px;
}

.home .home-content-area {
  background-color: #1b1c1d;
}

.home .github-buttons {
  font-size: 0.8rem;
}
